div, ul, li {
    border:0px;
    margin:0px;
    padding: 0px;
}
#messages {
    float: left;
    width: 80%;
    height: 100%;
    background-color: blue;
}
#messages .list {
    height: 70%;
}
#messages input {
    height: 30%;
    width: 50%;
    float: left;
}
#users {
    float: right;
    width: 20%;
    height: 100%;
    background-color: red;

}
.list {
    overflow: auto;
}

